* {
  box-sizing: border-box;
  background-color: #444;
  color: #a8a8a8;
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  width: 6rem;
  height: 6rem;
  border: 1px solid #444;
  background-color: #242424;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s
}

.square:hover {
  background-color: #333333;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 18rem;
}

@media only screen and (max-width: 700px) {
  .square {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  .board {
    width: 9rem;
    height: 9rem;
  }
}